:root {
    --base-clr: #5C4033;
    --line-clr: gold;
    --hover-clr: black;
    --text-clr: white;
    --accent-clr: gold;
    --secondary-text-clr: brown;
}

* {
    margin: 0;
    padding: 0;
}


html {
    line-height: 1.5rem;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--line-clr);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    overflow: hidden
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close {
    padding: 5px;
    width: 60px;

}

#sidebar ul {
    list-style: none;
}


#sidebar ul li.active a {
    color: var(--accent-clr);
}

#sidebar ul li.active a i {
    color: var(--accent-clr);
}

#sidebar a,
#sidebar .dropdown-btn {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar i {
    flex-shrink: 0;
    fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
}

/* --- DROPDOWN  --- */
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-in-out;
}


#sidebar .sub-menu>ul {
    overflow: hidden;
    min-height: 0;
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

#sidebar .sub-menu a {
    padding-left: 2.5em;
}

dropdown-btn i {
    transition: 200ms ease;
}

.rotate i:last-child {
    rotate: -180deg;
}

#sidebar .sub-menu {
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    color: var(--text-clr);

    i {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--hover-clr);
}

#mainContentArea {
    flex: 1;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 0.25em;
    border: 1.5px solid var(--line-clr);
    background-color: var(--base-clr);
    border-radius: 5px;
    width: fit-content;
    max-width: 75%;


    p {
        color: var(--text-clr);
        margin: 4px 0;
    }

}

.message.mine {
    align-self: flex-end;
    border-radius: 8px 8px 1px 8px;
}

.message.notMine {
    align-self: flex-start;
    border-radius: 8px 8px 8px 1px;
}

.boardMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid var(--line-clr);
    border-radius: 5px;
}



#chatTools:not([hidden]) {
    display: flex;
    gap: 0.5em;
    padding: 1em;
    border-top: 1px solid var(--line-clr);
    align-items: center;
}

#sendBar {
    flex-grow: 1;
    height: 2.5rem;
    resize: none;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid var(--line-clr);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-clr);
}

#sendBtn {
    background: none;
    border: none;
    color: var(--accent-clr);
    outline: 1px solid var(--line-clr);
    cursor: pointer;

    i {
        transform: rotateY(180deg);
    }
}


.cinzel-title {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    -webkit-text-stroke: 1.5px #D8B26F;
    color: #422607;
    padding: 0.5em;
}

#div .tiptap {
    width: 100%;
    height: 100%;
}

.ProseMirror {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.ProseMirror-focused {
    outline: none !important;
    box-shadow: none !important;
}